@model WebApiProduccion.Models.Rechazo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rechazo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
